@model Squawkings.Controllers.Total
<div class="container">
    <div class="total-container">
       
        <div>
            <strong>Total SquawksInputModel :</strong>@Model.TotalSquawks
        </div>
        <div>
            <strong> Total Users :</strong>@Model.TotalUsers
        </div>
           
    </div>
</div>