body {
    font-family: "Helvetica Neue";
    background-image: url("images/background.png");
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
}

.name {
    font-size: 14px;
    text-align: left;
        padding: 15px 15px 0px 15px;
        font-weight:bold;
}

.time {
    color: #A2A2A2;
    text-align: left;
    top: 0px;
        padding: 15px 15px 15px 15px;
    border-width: 1px;
    border-bottom: 1px #D4D4D4 solid;
    width: 100%;
    width: 100%;
}

.text {
    color: #333;
    text-align: left;
        padding: 15px 15px 0px 15px;
}
.squawk {
    text-align: center;
    width: 960px;
    background-color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
    
}


a {
    color: #049CDB;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}
